#password-recovery {
  cursor: pointer;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  max-width: 400px;
  height: 160px;

  input {
    width: 100%;
  }

  button[type="submit"] {
    width: 100px;
  }
}
