#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  max-width: 400px;
  height: 200px;

  input {
    width: 100%;
  }

  button[type="submit"] {
    width: 140px;
  }
}
