.btn-gift {
  background: black;
  color: white;
}

#buttons {
  border-top: 2px solid rgba(187, 187, 183, 0.767);
  display: flex;
  justify-content: end;
  padding-top: .5em;
  margin: .5em;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 70%;
}

.gift-item {
  color: white;
  border: 1px solid black;
  border-radius: .25em;

  margin: .25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gift-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 5px;
  padding-top: 5px;
}

.gift-item-input {
  border: hidden;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.label {
  font-family: 'Baskervville', serif;
  font-size: 110%;
}

.description {
  font-family: 'Baskervville', serif;
  font-size: 90%;
}

.link {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 70%;
}

.enterWish {
  color: black;
}