$dimensions: 60px;

.bestie-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $dimensions;
  width: $dimensions;
  background-color: #318b8f;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;

  p {
    font-size: 30px;
    color: white;
  }
}
