#gifts {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

#gifts > * {
  flex-grow: 1;
}

#shoppingList {
  background: #e1dbd2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#shoppingList-heading {
  text-align: center;
}
