.btn-gift {
  background: black;
  color: white;
}

#buttons {
  border-top: 2px solid rgba(187, 187, 183, 0.767);
  display: flex;
  justify-content: end;
  padding-top: .5em;
  margin: .5em;
}

.gift-item {
  color: white;
  border: 1px solid black;
  border-radius: .25em;

  margin: .25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gift-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

p.forWhom {
  font-family: 'Lexend Deca', sans-serif;
}
